.klicked{

}

.not-klicked{

}

.hover-text{
    white-space:nowrap;
    text-overflow: ellipsis;
    transition: width 0.5s;
}

.hover-text:hover{
    white-space: normal;
    width: 300px;
    text-overflow: hidden ;
}


